.footer {
    background-color:rgb(175, 225, 225);
    padding: 50px 0;
    /* margin-top: 50px; */
    
}

.footer-container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
}

.footer-section {
    width: 30%;
    margin-bottom: 30px;
}

.footer-section h3 {
    font-size: 20px;
    color: #333;
    margin-bottom: 20px;
    text-align: center;
}

.footer-section p {
    font-size: 16px;
    color: #666;
    margin-bottom: 10px;
    text-align: center;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 10px;
    text-align: center;
}

.footer-section ul li a {
    text-decoration: none;
    color: #666;
    transition: color 0.3s;
}

.footer-section ul li a:hover {
    color: #333;
}

.social-icons {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center; 
}

.social-icons li {
    margin: 0 5px; 
}

.social-icons li:last-child {
    margin-right: 0;
}

.social-icons a {
    text-decoration: none;
    color: #333;
    font-size: 24px;
    transition: color 0.3s;
}

.social-icons a:hover {
    color: #007bff;
}


.footer-bottom {
    text-align: center;
    margin-top: 30px;
    color: #666;
}
