<app-nav></app-nav>
<div class="title">
    <img src="../../../assets/home.jpg" alt="Hospital Image">
</div>
<div class="content-section">
    <h2>Why Our Hospital</h2>
    <p>Our hospital is dedicated to providing exceptional healthcare services with a focus on patient-centric care, cutting-edge technology, and a compassionate approach.</p>
    <div class="vision-mission">
        <div class="vision-mission-box">
            <h2>Vision</h2>
            <p>To be the leading healthcare provider, known for excellence in patient care, innovation, and community service.</p>
        </div>
        <div class="vision-mission-box">
            <h2>Mission</h2>
            <p>To improve the health and well-being of our community by delivering compassionate, high-quality, accessible healthcare services.</p>
        </div>
        
    </div>
</div>

<app-footer></app-footer>
