<div class="background">
    <div class="container">
      <div class="right-section">
        <div class="content-container">
          <h1>Book Your Hospital Appointments Now!</h1>
          <p>Secure your medical appointments effortlessly. Schedule your consultations online and avoid waiting times.</p>
          <p>Get the care you need at your convenience. Choose from a variety of specialties and appointment slots.</p>
          <div class="buttons">
            <a routerLink="/login"><button class="transparent-button">Login</button></a>
            <a routerLink="/signup"><button class="transparent-button">Sign Up</button></a>
          </div>
        </div>
      </div>
    </div>
</div>
